# SQL Study and Review

SELECT * 
SELECT COUNT(*)
SELECT DISTINCT 
SELECT COUNT(DISTINCT Example)
FROM Films
WHERE 
WHERE IN 
IS NULL
IS NOT NULL

Like and NOT Like 
WHERE name LIKE 'Data%';  the % is the wildcard regex for zero,one or many characters
WHERE name LIKE 'DataC_mp'; the _ is the wildcard regex for single character query matches
WHERE name LIKE '_D%'; this format finds all the second characters with D and any characters trailing included

### Aggregate Functions

SELECT AVG(example)
FROM example_table

SELECT MAX(example)
FROM example_table

SELECT MIN(example)
FROM example_table

SELECT SUM(budget)
FROM Films
WHERE release_year >= 2010;

SELECT (10/3);    Arithmetic can also be done, type sensitive

### Aliasing

AS
SELECT MAX(budget) AS max_budget
       MAX(duraction) AS max_duration
FROM films;

SELECT gross - budget as net_profit
FROM films;

SELECT (MIN(release_year) - MAX(release_year)) / 10.0 AS number_of_decades

### Sorting, Grouping and Joining

ORDER BY example; Default ordered ascending
ORDER BY example DESC; Decending order

GROUP BY is used with aggregate functions like COUNT() or MAX()
GROUP BY always goes after the FROM clause
Allows you to group a result by one or more columns

SELECT sex, COUNT(*)
FROM employess 
GROUP BY sex
ORDER BY count DESC;

### Having

Having is used to filter results of an aggregrate function

SELECT release_year
FROM films
GROUP BY release_year
HAVING COUNT(title) > 10;

SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
FROM films
WHERE release_year > 1990
GROUP BY release_year
HAVING AVG(budget) > 60000000
ORDER BY avg_gross DESC